/* General reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

/* Body and background */
body {
  background-color: wheat;
}

/* Navbar */
.navbar {
  overflow: hidden;
  background-image: linear-gradient(#033747, #012733);
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  z-index: 1000;
}
.navbar i {
  color: white;
  font-size: 20px;
  margin-right: 10px;
}
.navbar h1 {
  color: #f2f2f2;
  font-size: 18px;
  margin-right: auto;
}
.navbar a {
  color: #f2f2f2;
  text-decoration: none;
  font-size: 16px;
  padding: 8px 12px;
}
.navbar a:hover {
  background: #ddd;
  color: black;
}

/* Container */
.container {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;

  margin: 100px auto 0 auto;
}

/* Slideshow */
.slideshow-container {
  flex: 1;
  max-width: 60%;
  margin-right: 20px;
}
.mySlides img {
  width: 100%;
  border-radius: 8px;
}
.numbertext {
  position: absolute;
  color: white;
  font-size: 14px;
  top: 10px;
  left: 10px;
}

.my-image {
  width: 100%; /* Make the image take up the full width of the parent container */
  height: 600px; /* Set a fixed height */
  object-fit: cover; /* Ensures images maintain their aspect ratio while filling the container */
  border-radius: 10px; /* Optional: Add rounded corners */
}


/* Dots */
.dot {
  height: 12px;
  width: 12px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin: 5px;
  transition: background-color 0.6s ease;
}
.active {
  background-color: #717171;
}

/* Form Box */
.form-box {
  width: 700px; /* Increase the width */

  padding: 50px; /* Add more padding for space */
  background-image: linear-gradient(#033747, #012733);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Slightly stronger shadow */
  text-align: center;
}


/* Form */
.form-box h2 {
  color: white;
  margin-bottom: 20px;
}
.input-group input {
  width: 100%;
  padding: 300px; /* Increase padding for larger input fields */
  font-size: 18px; /* Increase font size */
  border: 1px solid #ccc;
  border-radius: 8px; /* Round the edges more */
}

.input-group label {
  color: white;
  display: block;
  margin-bottom: 5px;
}
.input-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.input-group input:focus {
  border-color: #007bff;
  outline: none;
}
button {
  width: 100%;
  padding: 12px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
button:hover {
  background-color: #0056b3;
}
.link a {
  color: #007bff;
  text-decoration: none;
}
.link a:hover {
  text-decoration: underline;
}
