<!  DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
</head>
<body>
    <div class="navbar">
        <i class="fa-solid fa-people-roof"></i>
            <h1> Smart Family </h1>
            <a href="{%url 'login'%}">Login</a>
      </div>
      <br>
      <br>
      <br>
      <br>
<div class="heading"> 
    <h1>About Us</h1>
    <br>
    <br>
    <p>The smart family database is an advanced data management system designed to collect, store and analyze information pertaining to families and their members. By providing a comprehensive view of family dynamics, integrating various aspects like health, education, finance and family memories etc. It will help families manage their lives more effectively and access necessary assistance when needed. </p>
    </div>
    <br>
    <div class="container">
        <section class="about">
            <div class="about-image">
                <img src="/static/images/family5.jpg">
            </div>
            <div class="about-content">
                <h1> Be Smart To Get A Smart Family </h1>
                <br>
                <p> Families often navigate multiple platforms to access important information, leading to confusion and miscommunication. The objective of the Smart Family Database Management System is to create centralized, user family platform that integrates family-related information, enhances communication among family members. This system aims to empower families, streamline service delivery, and enhance quality communication. It allows quick access to relevant family information. All-in-one access into one platform, making it easy to manage and access. This approach will allow for better understanding and support of families. </p>
            <a href="" class="read-more">Read More</a>
            </div>
        </section>
        </div>

</body>
</html>