{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/authentication/login.css' %}">
    <script src="https://kit.fontawesome.com/2c7210fe92.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="navbar">
        <i class="fa-solid fa-people-roof"></i>
        <h1> Smart Family </h1>
        <a href="{% url 'about' %}">About</a>
    </div>

    <div class="container">
        <!-- Slideshow Section -->
        <div class="slideshow-container">
            <div class="mySlides fade">
                <div class="numbertext">1 / 3</div>
                <img src="/static/images/family4.jpg" class="my-image">
            </div>
            <div class="mySlides fade">
                <div class="numbertext">2 / 3</div>
                <img src="/static/images/family7.jpg" class="my-image">
            </div>
            <div class="mySlides fade">
                <div class="numbertext">3 / 3</div>
                <img src="/static/images/family3.jpg" class="my-image">
            </div>
            <div style="text-align:center">
                <span class="dot" onclick="currentSlide(1)"></span>
                <span class="dot" onclick="currentSlide(2)"></span>
                <span class="dot" onclick="currentSlide(3)"></span>
            </div>
        </div>

        <!-- Login Form Section -->
        <div class="form-box">
            <h2>Login</h2>
            <form method="POST">
                {% csrf_token %}
                <div class="input-group">
                    <i class="fa-solid fa-user"></i>
                    <label for="username">Username:</label>
                    <input type="text" name="username" id="username" required>
                </div>
                <div class="input-group">
                    <i class="fa-solid fa-lock"></i>
                    <label for="password">Password:</label>
                    <input type="password" name="password" id="password" required>
                </div>
                <p><input type="checkbox"> Remember Me <a href="{% url 'login' %}">Forget Password</a></p>
                <button type="submit">Login</button>
            </form>
            <div class="link">
                <p>Don't have an account?</p>
                <a href="{% url 'register' %}">Create an account</a>
            </div>
        </div>
    </div>

    <script>
        let slideIndex = 0;
        showSlides();

        function showSlides() {
            let slides = document.getElementsByClassName("mySlides");
            let dots = document.getElementsByClassName("dot");
            for (let i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            slideIndex++;
            if (slideIndex > slides.length) {slideIndex = 1;}
            for (let i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active", "");
            }
            slides[slideIndex - 1].style.display = "block";
            dots[slideIndex - 1].className += " active";
            setTimeout(showSlides, 2000);
        }
    </script>
</body>
</html>
